* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Fira Sans", serif;
  max-width: 1280px;
  margin: 0 auto;
}

/* shared styles  */

main section {
  margin-top: 80px;
  margin-bottom: 80px;
}
.btn-cursor {
  cursor: pointer;
}

/* nav styles  */
.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 50px;
}
.nav-title {
  margin-top: 10px;
  font-weight: bold;
  font-size: 32px;
  border: none;
  background-color: #ffffff;
}
.nav-btn {
  font-weight: 600;
  font-size: 18px;
  padding: 15px 30px;
  border: 1px solid #006a50;
  border-radius: 8px;
  color: #006a50;
  background-color: white;
}
.nav-btn:hover {
  background-color: #205c33;
  color: #ffffff;
}
/* banner styles */
.banner-bg {
  background-color: #c6e4d6;
  border-radius: 24px;
}
.banner {
  display: flex;
  justify-content: space-between;
  gap: 64px;
  padding: 0px 64px;
}
.banner-info {
  padding: 117px 0px;
}
.banner-header {
  font-weight: medium;
  font-size: 24px;
  color: #0e0e0e;
}
.banner-text {
  font-weight: bold;
  font-size: 56px;
  color: #0e0e0e;
  margin: 18px 0px 24px 0px;
}
.banner-btn {
  font-weight: 600;
  font-size: 18px;
  padding: 17px 34px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: #006a50;
}
.banner-btn:hover {
  background-color: #ff0000;
  color: #ffffff;
}
.banner-img {
  padding: 80px 0px;
}
/* future vision section styles */
.future-section-title {
  font-weight: bold;
  font-size: 40px;
  color: #0e0e0e;
}
.future-section-description {
  font-size: 16px;
  line-height: 24px;
  color: #0e0e0e;
  margin: 24px 0px 32px 0px;
}
.vision-cards {
  display: flex;
  gap: 24px;
}
.blue-card {
  background-color: rgba(84, 144, 245, 0.2);
  padding: 32px;
  border-radius: 16px;
}
.green-card {
  background-color: rgba(198, 228, 214, 1);
  padding: 32px;
  border-radius: 16px;
}
.yellow-card {
  background-color: rgba(247, 235, 207, 1);
  padding: 32px;
  border-radius: 16px;
}
.card-description {
  padding: 24px 0px;
}
.card-description .card-title {
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  color: #0e0e0e;
}
.card-description .card-sub-title {
  font-size: 16px;
  line-height: 24px;
  color: #0e0e0e;
}
.card-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}
.blue-btn {
  margin-top: 24px;
}
.blue-card-btn {
  background-color: #5490f5;
}
.blue-card-btn:hover {
  background-color: #6a3896;
  color: #ffffff;
}
.green-card-btn {
  background-color: #09a15c;
}
.green-card-btn:hover {
  background-color: #fe0101;
  color: #ffffff;
}
.yellow-card-btn {
  background-color: #ffc239;
}
.yellow-card-btn:hover {
  background-color: #ad3493;
  color: #ffffff;
}

/* news section styles  */

.news-title {
  font-weight: bold;
  font-size: 40px;
  color: #0e0e0e;
}
.news-description {
  margin: 24px 0px 32px 0px;
  font-size: 16px;
  line-height: 24px;
  color: #0e0e0e;
}
